body {
  margin: 0;
  font-family:
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.custom-toast-container {
  position: fixed;
  z-index: 9999;
}

.ql-editor {
  min-height: 120px;
}

:root {
  --toastify-color-dark: #373940;
  --toastify-toast-padding: 10px 25px;
  --toastify-toast-min-height: 50px;
  --toastify-toast-offset: 10px;
  --toastify-toast-width: auto;
}
